img {
  width: 100px;
  margin-left: 30%
}

.p1 {
  font-weight: bold;
  color: black;
  font-size: 15px;
  margin-left: 20%;
  font-family: 'Times New Roman', Times, serif
}

.p2 {
  font-weight: normal;
  font-size: 12px;
  margin-left: 20%;
  color: gray;
}

button {
  margin-left: 20%;
}
