<mat-nav-list>
  <div class="profile-card">
    <div class="header">
      <h2>{{user}}</h2>
    </div>
    <!-- <img src="assets/img/test9.png" alt="Manage Hospital"> -->
   

    <a routerLink="/">
      <img src="assets/img/testnouveau.png" alt="Manage Hospital"> 
    </a>
  </div>


  <mat-divider></mat-divider>


  <h2 matSubheader>Pages</h2> 
 
  <a *ngFor="let link of links;" mat-list-item routerLinkActive="list-item-active" routerLink="{{link.path}}">{{link.text}}</a> 

 

  <mat-divider></mat-divider>

  <h2 matSubheader>Tools</h2>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/chat">
    <mat-icon>Chat</mat-icon>
    Chat
  </a>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
    <mat-icon>import_contacts</mat-icon>
    Contacts
  </a>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
    <mat-icon>contact_phone</mat-icon>
    Leads
  </a>


</mat-nav-list>
