<mat-nav-list>
  <div class="profile-card"> 
    <a routerLink="/home">
      <img src="assets/img/testnouveau.png" alt="Manage Hospital">
    </a>
  </div>


  <mat-divider></mat-divider>


  <h2 matSubheader>Pages</h2>

  <table cdkDropList (cdkDropListDropped)="drop($event)">
    <tr *ngFor="let l of links" cdkDrag>
      <td>
        <a mat-list-item routerLinkActive="list-item-active" [routerLink]="'/'+l.url" >{{l.txt}}</a>
      </td>
      <td>
        <span mat-list-item class="material-icons" id="move-span"  >
          unfold_more
        </span>
      </td>
    </tr>
  </table>
  

  <mat-divider></mat-divider>

  <h2 matSubheader>Tools</h2>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/chat">
    <mat-icon>Chat</mat-icon>
    Chat
  </a>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
    <mat-icon>import_contacts</mat-icon>
    Contacts
  </a>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
    <mat-icon>contact_phone</mat-icon>
    Leads
  </a>


</mat-nav-list>
