<mat-toolbar>
  <mat-toolbar-row> 

    <button *ngIf="displayMenu" mat-icon-button (click)="toggleSideBar()"  >
      <mat-icon>menu</mat-icon>
    </button> 
      <a routerLink='/' style="color: white ; text-decoration: none;">        
        <span>
          MANAGE-HOSTPITAL 
        </span>   
      </a>
 

    <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
      <ul fxLayout="row" fxLayoutGap="20px">
        

        <li>
          <button mat-icon-button>
            <mat-icon>settings</mat-icon>
          </button>
        </li>
        <li>
          <button mat-icon-button>
            <mat-icon>help_outline</mat-icon>
          </button>
        </li>
        <li>
          <button mat-button [matMenuTriggerFor]="menu">
            <mat-icon>person_outline</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>
              <mat-icon>exit_to_app</mat-icon>
              <a routerLink='/signin' (click)="logout()">Sign out</a>
            </button>

            <button  mat-menu-item>
              <mat-icon>store</mat-icon> 
              <a [routerLink]="displayMenu?'/store':'/'">  
                {{ displayMenu? ' switch to the store' : 'switch to the application'}}    
             </a>
          </button>

          </mat-menu>

        </li>
      </ul>
    </div>
  </mat-toolbar-row>
</mat-toolbar>


<div class="header">
title 

</div>