<div class="container">
  <nav aria-label="breadcrumb" class="navb">
    <ol class="breadcrumb navb">
      <li class="breadcrumb-item"><a href=""> <i class="fa fa-home"></i> Home</a></li>
      <li class="breadcrumb-item active" aria-current="page"><a href="ProductStore"> <i class="fa fa-store"></i>
          Store</a></li>
    </ol>
  </nav>
  <h4>NOUVEAUX
    <hr class="ab">
  </h4>
  <div class="alert alert-light" role="alert">
    <div class="row">
      <nav mat-tab-nav-bar>
        <a mat-tab-link [active]="rla.isActive" href="store" routerLinkActive #rla="routerLinkActive">All</a>
        <a mat-tab-link *ngFor="let link of navLinks" href="store/{{link.id}}" routerLinkActive #rla="routerLinkActive"
          [active]="rla.isActive">
          {{link.name}}
        </a>
      </nav>
    </div>
  </div>


  <div class="row text-center container">
    <div class="card-group " *ngFor="let p of list2">
      <div class="card ">
        <img class="card-img-top container img-responsive" src="assets/img/51WCCdSLJtL._SY879_.jpg" alt="">
        <div class="card-body">
          <h4 class="card-title">{{p.name}}</h4>
          <p class="text">UNITONE 4 Reveal gel </p>
          <hr>
          <p class="prix">{{p.unitPrice}} DH</p>
        </div>
        <button mat-raised-button color="primary"><i class="fa fa-shopping-cart"></i> panier</button>
      </div>
    </div>
  </div>
</div>
