body {
  padding-top: 54px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}


.navbar-brand {
  margin: right;
  padding-left: 1%;
}

h4 {
  color: #126186;
  font-family: 'Century Gothic';
  font-weight: bold;
}

.text {
  color: #7e963a;
  font-size: 14px;
  font-weight: normal;
  font-family: 'Century Gothic';
}


.prix {
  color: #126186;
  font-family: 'Century Gothic';
  font-weight: bold;
  font-size: 22px;
}

.card-title {
  color: #126186;
  font-size: 15px;
  font-weight: bold;
}

.card {
  height: 91%;


}

.ab {
  width: 700px;
  margin-top: -1%;
  margin-left: 15%;
}

img {
  width: 5rem;
}

.lead {
  color: aliceblue;
}

.display-3 {
  color: aliceblue;
}

.navb {
  background-color: #f3f5f9;
}

.navb ol li a {
  color: black;
  font-size: 11px;
}

.navb ol li a i {
  font-size: 11px;
}



.dropdown-toggle {
  outline: none;
}



.mat-tab-group {
  margin-bottom: 48px;
}

.side {
  height: auto;
}

.catalogue {
  background-color: white;
  height: auto;

}

.img1 {
  margin-left: 10%;
}

.text1 {
  color: #7e963a;
  font-size: 11px;
  font-weight: bold;
  font-family: 'Century Gothic';
  text-align: center;
  margin-top: 10%;
}

.prix1 {
  color: #126186;
  font-family: 'Century Gothic';
  font-weight: bold;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin-top: -10%;

}

.cat1 {

  background-color: #126186;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 13px;
}



.form-check-input {
  font-size: 11px;

}

.form-check-label {
  font-size: 11px;
}
