<!-- 
<table class="table ">
  <thead>
      
    <tr class="table-primary">
      <th scope="col">id</th>
      <th scope="col">name</th>
      <th scope="col">Remarque</th>
    
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of listhopitalCat ">
        <th scope="row">{{item.id}}</th>
        <td>{{item.name}}</td>
        <td>{{item.remark}}</td>
    </tr>
  </tbody>
</table> -->
<div class="form-group">
 <div class="col-sm-8"> 
  <app-select label="Select user" display="name" [listObjects]="users"></app-select>
 </div>
</div>