<!-- <ng-container>
  <h2>NOUVEAUX
  </h2>
  <div class="card-deck">
    <div class="card" style="width: 5rem;">
      <img src="assets/img/51WCCdSLJtL._SY879_.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Some quick example text to build </p>
      </div>
    </div>
    <div class="card" style="width: 5rem;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Some quick example text to build </p>
      </div>
    </div>
    <div class="card" style="width: 5rem;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Some quick example text to build </p>
      </div>
    </div>
    <div class="card" style="width: 5rem;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Some quick example text to build </p>
      </div>
    </div>
    <div class="card" style="width: 5rem;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Some quick example text to build </p>
      </div>
    </div>
  </div>
  <hr>

</ng-container> -->
<div class="container">
  <h4>NOUVEAUX
    <hr class="ab">
  </h4>
  <div class="row text-center">
    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card">
        <img class="card-img-top" src="assets/img/51WCCdSLJtL._SY879_.jpg" alt="">
        <div class="card-body">
          <h4 class="card-title">ISIS</h4>
          <p class="text">UNITONE 4 Reveal gel </p>
          <hr>
          <p class="prix">149 DH</p>
        </div>
        <button mat-raised-button color="primary"><i class="fa fa-shopping-cart"></i> panier</button>

      </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card">
        <img class="card-img-top" src="assets/img/51WCCdSLJtL._SY879_.jpg" alt="">
        <div class="card-body">
          <h4 class="card-title">ISIS</h4>
          <p class="text">UNITONE 4 Reveal gel </p>
          <hr>
          <p class="prix">149 DH</p>
        </div>
        <button mat-raised-button color="primary"><i class="fa fa-shopping-cart"></i> panier</button>

      </div>
    </div>
    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card">
        <img class="card-img-top" src="assets/img/51WCCdSLJtL._SY879_.jpg" alt="">
        <div class="card-body">
          <h4 class="card-title">ISIS</h4>
          <p class="text">UNITONE 4 Reveal gel </p>
          <hr>
          <p class="prix">149 DH</p>
        </div>
        <button mat-raised-button color="primary"><i class="fa fa-shopping-cart"></i> panier</button>

      </div>
    </div>
    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card">
        <img class="card-img-top" src="assets/img/51WCCdSLJtL._SY879_.jpg" alt="">
        <div class="card-body">
          <h4 class="card-title">ISIS</h4>
          <p class="text">UNITONE 4 Reveal gel </p>
          <hr>
          <p class="prix">149 DH</p>
        </div>
        <button mat-raised-button color="primary"><i class="fa fa-shopping-cart"></i> panier</button>
      </div>
    </div>

  </div>
</div>
