<form [formGroup]="categoryForm">
    <div class="form">
      <input type="hidden" formControlName="id" required>
      <div class="form-group">
        <input  type="text" class="form-control" minlength="3" formControlName="name" placeholder="NAME" required>
          <div *ngIf="categoryForm.controls['name'].invalid && (categoryForm.controls['name'].dirty || categoryForm.controls['name'].touched) "
          class="alert alert-danger">
          <div *ngIf="categoryForm.controls['name'].errors.required">
            <p class="p1">Name is required</p>
          </div>
          <div *ngIf="categoryForm.controls['name'].errors.minlength">
            <p class="p2">Name must be at least 3 characters long.</p>
          </div>
        </div> 
      </div>  

      <div class="form-group"> 
          <textarea name="remark" id="remark" cols="30" rows="10"  class="form-control" formControlName="remark"   placeholder="REMARK"></textarea>
      </div> 
    </div>
    <button type="submit" class="btn btn-success btn-block" [disabled]='!(categoryForm.valid)' (click)="reserve()">Reserve</button><br>
  </form>