<form class="example-form">
    <mat-form-field class="example-full-width">
      
      <input matInput placeholder="name" >
    </mat-form-field  >

      <mat-form-field class="example-full-width">
        
        <input matInput placeholder="remark" >
      </mat-form-field>
  </form>

  <button type="button" class="btn btn-warning" aria-label="Left Align">
    <i class="material-icons">
      done
      </i>
  </button>

    <button style="margin: 10px;" type="button" class="btn btn-warning" aria-label="Left Align">
      <i class="material-icons">
        autorenew
        </i>
    </button>
    <button style="margin:5px;" type="button" class="btn btn-danger" aria-label="Left Align">
      <i class="material-icons">
        delete
        </i>
    </button>