

<div class="content"> 
    <h1>  {{ isNew ? "Create an invoice" : "Update invoice" }}   </h1>
    <form [formGroup]="invoiceForm"  >  
            <div class="row">  
                    <div class="col-8">
          
                    </div>
                    <table class="col-4">
                        <tr>
                            <td>
                                <h6>Code</h6>
                            </td>
                            <td><input type="text" value="001" class="form-control col-11" formControlName="code"></td>
                            <td style="align-self: center;">
                                <svg style="color: red;margin-bottom: 6px;font-size: 15px;"
                                    class="bi bi-exclamation-circle-fill" width="1em" height="1em" viewBox="0 0 16 16"
                                    fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                        d="M16 8A8 8 0 110 8a8 8 0 0116 0zM8 4a.905.905 0 00-.9.995l.35 3.507a.552.552 0 001.1 0l.35-3.507A.905.905 0 008 4zm.002 6a1 1 0 100 2 1 1 0 000-2z"
                                        clip-rule="evenodd" />
                                </svg>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h6>Date</h6>
                            </td>
                            <td><input type="datetime" class="form-control col-11" formControlName="date"><br></td>
                            <td>
                                <svg style="color: red;margin-bottom: 5px;font-size: 15px;"
                                    class="bi bi-exclamation-circle-fill" width="1em" height="1em" viewBox="0 0 16 16"
                                    fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                        d="M16 8A8 8 0 110 8a8 8 0 0116 0zM8 4a.905.905 0 00-.9.995l.35 3.507a.552.552 0 001.1 0l.35-3.507A.905.905 0 008 4zm.002 6a1 1 0 100 2 1 1 0 000-2z"
                                        clip-rule="evenodd" />
                                </svg>
                            </td>
                        </tr>
                    </table> 
            </div> 
    <br>
            <hr>

            <div class="body">

                <div class="row">  
                    <div class="col-1"> </div>  
                    <div class="col-7">Description</div>
                    <div class="col-1">Quantity </div>
                    <div class="col-1">Price</div>
                    <div class="col-1">Tax</div> 
                    <div class="col-1">Amount</div>  
                </div>

                <div formArrayName="productForm"  *ngFor="let detail of invoiceForm.controls.productForm.controls ;let i=index;">       
            
                    <div formGroupName={{i}} class="row" style="padding: 5px; background-color:snow" >           
                        <!-- body -->
                        <div class="col-12"> 
                                <div class="row details">
                                    <div class="col-1"></div>  
                                    <input formControlName="product" class="form-control col-7" type="text"> 
                                    <input formControlName="qte" class="form-control col-1" type="text"   (change)="valueChanged(detail)" /> 
                                    <input formControlName="price" class="form-control col-1" type="text"  (change)="valueChanged(detail)" />
                                    <input formControlName="tax" class="form-control col-1" type="text"   (change)="valueChanged(detail)" />
                                    <input formControlName="tax" class="form-control col-1" type="text" /> 
                                    
                                </div>                                 
                                <div class="row details">
                                    <div class="col-1"> 
                                        <input type="button" class="btn-success" value="up"  (click)="move(i,-1)"  > 
                                        {{i}}
                                        <input type="button" class="btn-success" value="down" (click)="move(i,1)" > 
                                    
                                    </div>  
                                    <textarea class="form-control col-11" style="height: 35px;"  aria-readonly="true" formControlName="description" placeholder="description" ></textarea>                                 
                                  
                                </div>     
                                <div class="row">
                                    
                                    <div class="col-1"> </div>  
                                    <nav class="div-add col-9 btn addDetail"  (click)="addDetail(i)">
                                        <svg class="bi bi-plus-circle-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd"
                                                d="M16 8A8 8 0 110 8a8 8 0 0116 0zM8.5 4a.5.5 0 00-1 0v3.5H4a.5.5 0 000 1h3.5V12a.5.5 0 001 0V8.5H12a.5.5 0 000-1H8.5V4z"
                                                clip-rule="evenodd" />
                                        </svg>
                                        Add details
                                    </nav> 
                                    <input class="form-control col-2 btn-danger" style="height: 35px;"   (click)="deleteDetail(i)" type="button" value="delete">  
                                </div>                
                        </div> 
                                <!-- {{detail[].get('total').value}} -->              
                               
                    </div> 
                </div>

            </div>
    
    <br>
        <div class="row">
<div class="col-6"></div>
<div class="col-6">
    <table class="row bottom-table">
        <tr class="col-8">
            <h6>Subtotal</h6>
        </tr>
        <tr class="col-4 trInp" style="padding: 0.1%;">
            <input class="caseInput" type="number" [value]="subtotal"
                (keyup)="Amount(remiseval,expedition,livraison)">
        </tr>
        <!-- row two -->
        <tr class="col-4">
            <h6>Remise</h6>
        </tr>
        <tr class="col-2 trInp" style="padding: .1%;">
            <input #remise class="caseInput" (keyup)="calculRemise(slct.value,remise.value)" type="number">
        </tr>
        <tr class="col-2 trInp" style="padding: .1%;">
            <select #slct class="caseInput" (change)="calculRemise(slct.value,remise.value)">
                <option value="dh">DH</option>
                <option value="%">%</option>
            </select>
        </tr>
        <tr class="col-4 trInp">
            <input type="number" class="caseInput" [value]="remiseval"
                (keyup)="Amount(remiseval,expedition,livraison)" formControlName="remise">
        </tr>
        <!-- row tree -->
        <tr class="col-4">
            <h6>Expedition</h6>
        </tr>
        <tr class="col-4 trInp" style="padding: .1%;">
            <input type="text" #expedition class="caseInput" (keyup)="Amount(remiseval,expedition,livraison)"
                formControlName="expedition">
        </tr>
        <tr class="col-4">
            <h6>{{expedition.value}}</h6>
        </tr>
        <!-- row four -->
        <tr class="col-4">
            <h6>Livraison</h6>
        </tr>
        <tr class="col-4 trInp" style="padding: .1%;">
            <input type="number" #livraison class="caseInput" (keyup)="Amount(remiseval,expedition,livraison)"
                formControlName="livraison">
        </tr>
        <tr class="col-4">
            <h6>{{livraison.value}}</h6>
        </tr>
        <!-- total -->
        <tr class="col-8">
            <h5>Total</h5>
        </tr>
        <tr class="col-4 trInp" style="padding: .1%;">
            <input type="text" class="caseInput" readonly [value]="TotalAmount">
            <!-- formControlName="totalAmont" -->
        </tr>
    </table>
</div>   
</div>


<button class="btn btn-success" style="margin: 5px;" *ngIf="isNew" (click)="edit(isNew)">Save</button>

<button class="btn btn-primary" (click)="backHome()"  style="margin: 5px;" >Close</button>

    </form>

</div>