td h6{
    padding: 5px;
}
td{
   text-align: right;
}

input{
    padding-left: 5px;
    border-radius: 5px;
    border-color: 1pt lavender ;
    border-style: groove;
}

#divConmponent{
    border-top:1.5pt silver solid;
    margin-top: 20px;
    padding: 10px;
}


.bottom-table tr{
   border: 0.5pt solid gray;
   padding: 10px;
}
.trInp{
   padding: 0%;
}

.caseInput{
   width: 100%;
   height: 100%;
   border: none;
   margin: 0%;
}

/* dtail style */
*{
   transition: all .5s;
}

a{
   cursor: pointer;
}

nav{
   height: 40px;
   background-color: rgb(135,206,250,0.1);
   border: .5pt solid rgb(135,206,250,1);
   color: #1E90FF;
   padding: 6px;
   padding-left: 10%;
   font-family: Arial, Helvetica, sans-serif;
   margin-left: -1.5%;
}

form{
   border: none;
}

.q{
   text-align: right;
   border-left: .1pt #ededed solid;
   padding: 0%;
}


.p{
   text-align: left;
   padding: 0%;
   font-style: normal;
   font-weight: bold;
   color: #1C63B7;
}
.Input{
   border: solid rgb(0, 153, 255) 1px;
   width: 98%;
   height: 100%;
   padding-left: 5px;
}

.test-div{
   border: 2pt solid #d4d4d4;
   background-color: #ECECEC;
   width: 100%;
   border-radius: 2px;
   padding-left: 0;
   margin-bottom: 5px;
}
.c{
   height: 50%;
   border-top-left-radius:5px ;
   border-bottom-left-radius:5px ;
   margin: 0px;
}
.a{
   border-bottom-right-radius: 50px;
   border-bottom-left-radius: 20px;
   color: white;
   font-size: 10px;
   height: 12px;
   font-family: cursive;
}
.a:hover{
   height: 30px;
}


.divtitle{
   height: 25px;
   width: 100%;
   /* background-color: violet; */
   padding: 0%;
   margin: 0;
   
}

.divinfos{
   height: 50px;
   width: 100%;
   border-bottom: .5pt #ECECEC dashed;
   padding: 0%;
   margin: 0;
}

textarea{
   width: 50%;
   border: none ;
}

section{
   background-color: white;
   height: 88px;
   margin-left: 0;
   padding: 0;
   height: 100%;
}

.q > .Input:focus,textarea:focus{
   border-left :3pt solid #1C63B7 ;
   
}
/* end detail style */
