<!-- <div class="my-3 p-3 bg-white rounded shadow-sm">
   <h6 class="border-bottom border-gray pb-2 mb-0">Recents Appointements</h6>
   <div *ngFor="let item of apps" class="media text-muted pt-3">
     <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg"
       preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32">
       <title>Placeholder</title>
       <rect width="100%" height="100%" fill="#007bff" /><text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text>
     </svg>
     <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
       <strong class="d-block text-gray-dark">{{item.reservationTimeStamp}}</strong>
       {{item.subject}}
     </p>
     <div class="col-md-2">
       <button (click)="save(item)" style="line-height: 15px;margin: 10px;" type="button" class="btn btn-warning"
         aria-label="Left Align">
         <i class="fa fa-download"></i>
       </button>
       <button (click)="openDialog(item)" style="line-height: 15px;" type="button" class="btn btn-danger"
         aria-label="Left Align">
         <i class="fa fa-trash"></i>
       </button>
     </div>
   </div>
 </div>
 <a (click)="add()" matTooltip="Click for add a new Appointement" [matTooltipPosition]="'left'"
   class="flotting-btn btn-success" style="color: white;">+</a>
 -->

<!-- <a (click)="add()" matTooltip="Click for add a new Appointement" [matTooltipPosition]="'left'"
  class="flotting-btn btn-success" style="color: white;">+</a>
<div style="float: right;">
  <button (click)="save(item)" style="line-height: 15px;margin: 10px; " type="button" class="btn btn-warning"
    aria-label="Left Align">
    <i class="material-icons">
      autorenew
    </i>
  </button>
  <button (click)="openDialog(item)" style="line-height: 15px;" type="button" class="btn btn-danger"
    aria-label="Left Align">
    <i class="material-icons">
      delete
    </i>
  </button>
</div> -->
<div style="float: right;">
  <app-menu 
 [IsRowSelected]="IsRowSelected" 
 [addAction]="add" 
 [editAction]="edit" 
 [deleteAction]="delete" 
 [IsMultple]="IsMultple"
 [isNew]="isNew" 
 ></app-menu>
  </div>
<mat-form-field class="example-full-width">
  <input (keyup)="applyFilter($event.target.value)" matInput placeholder="Filter">
</mat-form-field>
<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
  <ng-container matColumnDef="select">
    <th mat-header-cell *matHeaderCellDef>
      <mat-checkbox (change)="$event ? masterToggle() : null; onrowselect()" [checked]="selection.hasValue() && isAllSelected()"
        [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()"    >
      </mat-checkbox>
    </th>
    <td mat-cell *matCellDef="let row">
      <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null; onrowselect()"
        [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)" (click)="onrowselect()" >
      </mat-checkbox>
    </td>
  </ng-container>


  <ng-container matColumnDef="assurance">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> assurance </th>
    <td mat-cell *matCellDef="let element"> {{element.assurance}} </td>
  </ng-container>

  <ng-container matColumnDef="reservationTimeStamp">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> reservationTimeStamp </th>
    <td mat-cell *matCellDef="let element"> {{element.reservationTimeStamp}} </td>
  </ng-container>

  <ng-container matColumnDef="subject">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> subject </th>
    <td mat-cell *matCellDef="let element"> {{element.subject}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row);"
    (click)="onrowselect(row)"></tr>


</table>

<mat-paginator [pageSizeOptions]="pageSize" showFirstLastButtons></mat-paginator>
