 
 
  <div class="my-3 p-3 bg-white rounded shadow-sm">
    <h6 class="border-bottom border-gray pb-2 mb-0">Hospitals</h6>
    <div class="media text-muted pt-3">
      <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg"
        preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32">
        <title>Placeholder</title>
        <rect width="100%" height="100%" fill="#007bff" /><text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text>
      </svg>
      <div class="form-group">
        <div class="col-sm-8"> 
         <app-select label="Select user" display="name" [listObjects]="hospitalcat"></app-select>
        </div>
       </div>
      <div class="col-md-4 col-lg-2">
        <button type="button" class="btn btn-warning" aria-label="Left Align">
          <i class="fa fa-plus"></i>
        </button>
      </div> 
    </div>
  </div> 


  Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam vitae eum aut iusto, nemo totam dolore dolor similique labore id unde ab delectus molestiae odit. Exercitationem, adipisci! Repellat, sed id?
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores fuga perferendis vitae eum neque soluta nostrum, quae ut molestias accusantium, laboriosam illum cupiditate sunt incidunt delectus, numquam rerum deleniti aspernatur!
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam, quam fuga quibusdam voluptatibus sunt ratione dignissimos tenetur, dolor delectus cupiditate autem laboriosam placeat totam explicabo expedita architecto inventore repudiandae minima.  
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe doloribus omnis asperiores quod vel sit, non libero beatae recusandae quasi voluptatum delectus consequatur obcaecati officia nemo placeat et eum quas!
  