


  <!-- <mat-form-field style="width: 400px;">
    <mat-select  name="orders" id="orders" >
      <mat-option  *ngFor="let val of listObjects" [value]="val.id">  
           {{ val.name }}   
      </mat-option>
    </mat-select>
  </mat-form-field> 
   -->
  

   <!-- <select #customSelect (change)="onSelectValue(customSelect.value)"> -->
   <!-- <select>
    <option  *ngFor="let val of listObjects" [value]="val.id" >
      {{ val.name }}   
    </option>
  </select>   -->
<!-- 
  <mat-form-field style="width: 400px;">
    <mat-label>Category</mat-label>
    <mat-select #slct (change)="onSelectValue(slct.value)" >
      <mat-option *ngFor="let val of listObjects" [value]="val.id" >
        {{ val.remark }}   
      </mat-option>
    </mat-select>
  </mat-form-field> -->


  <select >
    <option *ngFor="let val of listObjects" [value]="val.id"> {{ val.remark }}   </option>
  </select>
