<mat-vertical-stepper [linear]="isLinear" #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <app-contact (getOutputForm)="getContact($event)"></app-contact>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form>
      <ng-template matStepLabel>Fill out your personelle informations</ng-template>
      <mat-form-field>
        <mat-label>First Name</mat-label>
        <input matInput placeholder="Your first name" required>
      </mat-form-field><br>
      <mat-form-field>
        <mat-label>last Name</mat-label>
        <input matInput placeholder="Your last name" required>
      </mat-form-field><br>
      <mat-form-field>
        <mat-label>sexe</mat-label>
        <mat-select>
          <mat-option>None</mat-option>
          <mat-option value="Female">Female</mat-option>
          <mat-option value="Male">Male</mat-option>
        </mat-select>
      </mat-form-field>

      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-button>Confirme</button>
    </div>
  </mat-step>
</mat-vertical-stepper>
