<div class="container">
  <h3>{{this.title}}</h3>
  <p style="font-weight: lighter;color: gray;font-size: 14px;" class="card-text">to reserve, please fill this
    informations</p>
  <form [formGroup]="mainForm">
    <div class="form-row">
      <input type="hidden" formControlName="id">
      <div class="form-group col-md-6">
        <input style="text-align: center;font-size: 14px;" type="text" class="form-control" formControlName="firstName"
          placeholder="firstName" required>
      </div>
      <div class="form-group col-md-6">
        <input style="text-align: center;font-size: 14px;" type="text" class="form-control" formControlName="lastName"
          placeholder="lastName" required>
      </div>
    </div>
    <div class="input-group form-group ">
      <select formControlName="sexe" placeholder="choose Sexe" class="custom-select" required>
        <option style="text-align: center;font-size: 14px;" value="Female">Female</option>
        <option style="text-align: center;font-size: 14px;" value="Male">Male</option>
      </select>
    </div>

    <div class="input-group form-group ">
      <select formControlName="doctorCategoryId" placeholder="City" class="custom-select" id="inputGroupSelect02">
        <option *ngFor="let item of _listCatetory" selected value="{{item.id}}">{{item.remark}}</option>
      </select>
  </div> 

  </form>
  <app-contact [contactForm]="contactForm"></app-contact>

  <button type="submit" class="btn btn-success btn-block" [disabled]='!(this.mainForm.valid && this.contactForm.valid)' mat-button matStepperNext (click)="reserve()">Reserve</button><br>

   
</div>
