<!-- <div>

    <div style="margin-left: 250px;" class="my-3 p-3 bg-white rounded shadow-sm">
      <h6 class="border-bottom border-gray pb-2 mb-0">Doctor Category</h6>
      <div class="media text-muted pt-3">
  
  
        <div class="form-group">
            <div class="col-sm-8">
            <app-select label="Select user" display="name" [listObjects]="listDoctorCat" placeholder="DoctorCategory"></app-select>
            </div>
        </div>
        

          
        <div class="col-md-4 col-lg-2">
            <button type="button" class="btn btn-warning" aria-label="Left Align">
              <i class="material-icons">
                done
                </i>
            </button>
  
              <button style="margin: 10px;" type="button" class="btn btn-warning" aria-label="Left Align">
                <i class="material-icons">
                  autorenew
                  </i>
              </button>
              <button style="margin:5px;" type="button" class="btn btn-danger" aria-label="Left Align">
                <i class="material-icons">
                  delete
                  </i>
              </button>
          </div>
      </div>
    </div>
  
  </div> -->
  
  <div>
    <div style="margin-left: 250px;" class="my-3 p-3 bg-white rounded shadow-sm">
      <h6 class="border-bottom border-gray pb-2 mb-0">Doctor Category</h6>
      <div class="media text-muted pt-3">
        <!-- function select  -->
        <!-- <div class="form-group">
          <div class="col-sm-8"> 
            <app-select  [listObjects]="listhopitalCatValues"></app-select>
          </div>
        </div>    -->

        <mat-card class="container">
          <div class="row">
         <div class="col">
<app-category></app-category>
        
         </div>
            <div class="col">
              <div class="table-responsive">
              <table class="table" >
                <thead>
                  <tr>
                    <th scope="col">name</th>
                    <th scope="col">remark</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of listDoctorCat">
                    <th scope="row">{{item.name}}</th>
                    <td>{{item.remark}}</td> 
                  </tr>        
                </tbody>
              </table>
            </div>
              </div>
            </div>
      </mat-card>
      </div>
    </div>
  
  </div>
