<div class="team-section">
    <h1>Our Team</h1>
    <span class="border"></span>
    <div class="ps">
        <a data-toggle="collapse" href="#collapseExample"aria-expanded="false" aria-controls="collapseExample"><img src="assets\img\exclamation-512.png" alt=""></a>
        <a data-toggle="collapse" href="#collapseExample1"aria-expanded="false" aria-controls="collapseExample1"><img src="assets\img\exclamation-512.png" alt=""></a>
        <a data-toggle="collapse" href="#p3"aria-expanded="false" aria-controls="p3"><img src="assets\img\exclamation-512.png" alt=""></a>
        <a data-toggle="collapse" href="#p4"aria-expanded="false" aria-controls="p4"><img src="assets\img\exclamation-512.png" alt=""></a>
    </div>

    <div class=" collapse" id="collapseExample">
        <span class="name">mohamed boutakat</span>
        <span class="border"></span>
        <p>Gourmet is a fantastic free responsive restaurant website template based on Bootstrap Framework. The flexibility of Gourmet ensures a smooth and stable experience on all devices, smartphones, tablets and desktop computers. Of course, Gourmet also runs flawlessly on retina screens and all </p>
    </div>
    <div class=" collapse " id="collapseExample1" >
        <span class="name">Abdelwahad kourro</span>
        <span class="border"></span>
        <p >Gourmet is a fantastic free responsive restaurant website template based on Bootstrap Framework. The flexibility of Gourmet ensures a smooth and stable experience on all devices, smartphones, tablets and desktop computers. Of course, Gourmet also runs flawlessly on retina screens and all </p>
    
    </div>
    <div class="collapse" id="p3" >
        <span class="name">imane slague</span>
        <span class="border"></span>
        <p>Gourmet is a fantastic free responsive restaurant website template based on Bootstrap Framework. The flexibility of Gourmet ensures a smooth and stable experience on all devices, smartphones, tablets and desktop computers. Of course, Gourmet also runs flawlessly on retina screens and all </p>

    </div>
    <div class="collapse" id="p4" >
        <span class="name">rajae elqacimy</span>
        <span class="border"></span>
        <p>Gourmet is a fantastic free responsive restaurant website template based on Bootstrap Framework. The flexibility of Gourmet ensures a smooth and stable experience on all devices, smartphones, tablets and desktop computers. Of course, Gourmet also runs flawlessly on retina screens and all </p>

    </div>
</div>