<div class="team-section">
    <h1>Our Team</h1>
    <span class="border"></span>
    <div class="ps">
        <a class="p1"><img src="assets\img\exclamation-512.png" alt=""></a>
        <a class="p2"><img src="assets\img\IMG-20200518-WA0011.jpg" alt=""></a>
        <a class="p3"><img src="assets\img\IMG_20190424_212538_681.jpg" alt=""></a>
        <a class="p4"><img src="assets\img\exclamation-512.png" alt=""></a>
        
    </div>

    <div class="p11" >
        <span class="name">mohamed boutakat</span>
        <span class="border"></span>
        <p>Gourmet is a fantastic free responsive restaurant website template based on Bootstrap Framework. The flexibility of Gourmet ensures a smooth and stable experience on all devices, smartphones, tablets and desktop computers. Of course, Gourmet also runs flawlessly on retina screens and all </p>
    </div>
    <div class=" p22 "  >
        <span class="name">Abdelwahad kourro</span>
        <span class="border"></span>
        <p >Gourmet is a fantastic free responsive restaurant website template based on Bootstrap Framework. The flexibility of Gourmet ensures a smooth and stable experience on all devices, smartphones, tablets and desktop computers. Of course, Gourmet also runs flawlessly on retina screens and all </p>
    
    </div>
    <div class="p33" >
        <span class="name">imane slague</span>
        <span class="border"></span>
        <p>Gourmet is a fantastic free responsive restaurant website template based on Bootstrap Framework. The flexibility of Gourmet ensures a smooth and stable experience on all devices, smartphones, tablets and desktop computers. Of course, Gourmet also runs flawlessly on retina screens and all </p>

    </div>
    <div class="p44" >
        <span class="name">rajae elqacimy</span>
        <span class="border"></span>
        <p>Gourmet is a fantastic free responsive restaurant website template based on Bootstrap rse, Gourmet also runs flawlessly on retina screens and all </p>

    </div>
</div>

