<form [formGroup]="contactFormControl" (ngSubmit)="Onclick()" *ngIf="showSave">
  <ng-template matStepLabel>Fill out this informations</ng-template>
  <mat-form-field>
    <mat-label>Email</mat-label>
    <input formControlName="email" matInput placeholder="your email" required>
  </mat-form-field><br>
  <mat-form-field>
    <mat-label>Phone</mat-label>
    <input formControlName="phone1" matInput placeholder="your Phone number" required>
  </mat-form-field><br>
  <mat-form-field>
    <mat-label>Adress</mat-label>
    <input formControlName="adress1" matInput placeholder="your adress" required>
  </mat-form-field><br>
  <mat-form-field>
    <mat-label>Select City</mat-label>
    <mat-select formControlName="cityId">
      <mat-option>None</mat-option>
      <mat-option *ngFor="let item of cities" [(value)]="item.id">{{item.name}}</mat-option>

    </mat-select>
  </mat-form-field>
  <div>
    <button type="submit" mat-button matStepperNext>Next</button>
  </div>
</form>
