<div class="container"><br><br><br><br>
  <div style="margin-left: 20%;">
    <div style="width: 40rem;" class="card text-center">
      <div class="card-body">
        <h4 class="card-title">SignUp</h4>
        <p style="font-weight: lighter;color: gray;font-size: 13px;" class="card-text">Create your own compte to access
          the platforme.</p><br>
        <form [formGroup]="signupForm">
          <div class="form-row">
            <input type="hidden" formControlName="id">
            <div class="form-group col-md-6">
              <input style="text-align: center;font-size: 14px;" type="text" class="form-control"
                placeholder="First Name" name="firstname" formControlName="firstName" required>
            </div>
            <div class="form-group col-md-6">
              <input style="text-align: center;font-size: 14px;" type="text" class="form-control"
                placeholder="Last Name" name="lastname" formControlName="lastName" required>
            </div>
          </div>
          <div class="input-group mb-3">
            <select formControlName="sexe" placeholder="sexe" class="custom-select" id="inputGroupSelect02">
              <option style="text-align: center;font-size: 14px;" selected>Choose...</option>
              <option style="text-align: center;font-size: 14px;" value="Female">Female</option>
              <option style="text-align: center;font-size: 14px;" value="Male">Male</option>
            </select>
          </div>

          <div class="form-group">
            <input style="text-align: center;font-size: 14px;" type="text" class="form-control" placeholder="Username"
              name="username" formControlName="username" required>
          </div>
          <div class="form-group">
            <input style="text-align: center;font-size: 14px;" type="password" class="form-control"
              placeholder="Password" name="password" formControlName="password" required>
          </div>
          <div class="input-group mb-3">
            <select formControlName="userType" placeholder="userType" class="custom-select" id="inputGroupSelect03">
              <option style="text-align: center;font-size: 14px;" selected>Choose...</option>
              <option style="text-align: center;font-size: 14px;" value="Patient">Patient</option>
              <option style="text-align: center;font-size: 14px;" value="Visiteur">Visiteur</option>
            </select>
          </div>

        </form>
        <app-contact [contactForm]="contactForm"></app-contact>
        <button type="submit" class="btn btn-info btn-block" (click)="Register()">Create</button><br>
        <p style="color: gray;font-weight: lighter;font-size: 13px;">connexion <a href="/signin">SignIn</a>
        </p>
      </div>

    </div>
  </div>

</div>
