  <div class="sidebar" id="collapseExample">
      <h2 style="margin-left: -20px;"><i class="fa fa-tachometer"></i> MH</h2>
      <ul>
        <li><a routerLink=""><i class="fa fa-home"></i> Home</a></li>
        <li routerLinkActive="active"><a routerLink="/hospitals"><i class="fa fa-heartbeat"></i> Hospitals</a></li>
        <li routerLinkActive="active"><a routerLink="/appointement"><i class="fa fa-calendar"></i> Appointements</a></li>
        <li routerLinkActive="active"><a routerLink="/doctors"><i class="fa fa-user-md"></i> Doctors</a></li>
        <li routerLinkActive="active"><a routerLink="#"><i class="fa fa-user"></i> Patients</a></li>
        <li routerLinkActive="active"><a routerLink="#"><i class="fa fa-info-circle"></i> Contact</a></li>
        <li routerLinkActive="active"><a routerLink="/login"><i class="fa fa-sign-out"></i> Log Out</a></li>
      </ul>
    </div>
 