<div>
  <div id="panel"></div>
  <div class="my-3 p-3 bg-white rounded shadow-sm">
    <h6 class="border-bottom border-gray pb-2 mb-0">DOCTORS</h6>
    <div class="media text-muted pt-3" *ngFor="let item of doctors; let i = index">
      <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg"
        preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32">
        <title>Placeholder</title>
        <rect width="100%" height="100%" fill="#007bff" />
        <text x="50%" y="50%" fill="#007bff" dy=".3em">S</text>
      </svg>
      <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
        <strong class="d-block text-gray-dark">@{{item.firstName}}</strong>
        Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris
      </p>
      <div class="col-md-2">
        <button style="line-height: 15px;margin: 10px;" type="button" class="btn btn-warning" aria-label="Left Align">
          <i class="fa fa-pencil"></i>
        </button>
        <button style="line-height: 15px;" type="button" class="btn btn-danger" aria-label="Left Align">
          <i class="fa fa-trash"></i>
        </button>
      </div>
      <a id="flip" class="flottingbtn" style="color: white;">+</a>
    </div>
    <script>
      $(document).ready(function () {
        $("#flip").click(function () {
          $("#panel").slideToggle("slow");
        });
      });

    </script>

    <a (click)="openBottomSheet()" matTooltip="Click for add a new doctor" [matTooltipPosition]="'left'"
      class="flotting-btn btn-success" style="color: white;">+</a>
  </div>
