<div class="row" style="padding-left: 10%;">
    <div id="divinfos" class="row col-10" style="margin-bottom: 0;">
        <div class="col-5"><h6>Name</h6></div>
        <div class="col-2 "><h6>Quantity</h6> </div>
        <div class="col-2 "><h6>Price</h6></div>
        <div class="col-1 "><h6>Tax</h6></div>
    </div>
    <div class="col-1" style="text-align: center;">
        <h6>Total</h6> 
     </div>
</div>
<div class="doctor-list" *ngFor="let product of products" style="padding-left: 10%;">
    <div class="row">
        <div class="row col-11 product-div">
            <div class="col-10 div-detail">
                <div id="divinfos" class="row">
                    <div class="col-7"><h6>{{product.name}}</h6></div>
                    <div class="col-2 q">{{product.quantity}} </div>
                    <div class="col-2 q">{{product.price}}</div>
                    <div class="col-1 q">{{product.tax}}</div>
                </div>
                <textarea aria-readonly="true" class="form-control" rows="1">{{product.description}}</textarea>
            </div>
            <div class="col-2">
               <h6>765.00</h6> 
            </div>
        </div>
        <a class="col-1" style="padding: 10px;color:#1E90FF ;margin-left: 15px;">
            <svg class="bi bi-x-circle" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M8 15A7 7 0 108 1a7 7 0 000 14zm0 1A8 8 0 108 0a8 8 0 000 16z" clip-rule="evenodd"/>
                <path fill-rule="evenodd" d="M11.854 4.146a.5.5 0 010 .708l-7 7a.5.5 0 01-.708-.708l7-7a.5.5 0 01.708 0z" clip-rule="evenodd"/>
                <path fill-rule="evenodd" d="M4.146 4.146a.5.5 0 000 .708l7 7a.5.5 0 00.708-.708l-7-7a.5.5 0 00-.708 0z" clip-rule="evenodd"/>
            </svg>
        </a>
    </div>
</div>
<!-- [formGroup]="productForm" (ngSubmit)="addDetail()" -->
<form [formGroup]="productForm" (ngSubmit)="addDetail()" *ngIf="show" >
    <div class="container">
        <input formControlName="name" type="text" placeholder="name" />
        <textarea formControlName="description" class="form-control" rows="2"  placeholder="description"></textarea>
        <input formControlName="quantity" type="number" #qte placeholder="quntity" aria-valuemin="1" value="1" >
        <input formControlName="price" type="text" #price placeholder="price"
                aria-describedby="inputGroup-sizing-sm" value="00.00"> DH
        <input formControlName="tax" type="number" style="width: 10%;" placeholder="tax" aria-valuemin="1" value="1" >%
          
        <h6 style="float: right;" aria-disabled="true">Total : {{total}}</h6>
        <button class="btn btn-primary">
            <svg class="bi bi-plus-circle-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M16 8A8 8 0 110 8a8 8 0 0116 0zM8.5 4a.5.5 0 00-1 0v3.5H4a.5.5 0 000 1h3.5V12a.5.5 0 001 0V8.5H12a.5.5 0 000-1H8.5V4z" clip-rule="evenodd"/>
            </svg>
        </button>
    </div>
    
</form>

    <a class="col" (click)="showAdd()" *ngIf="!show">
        <nav class="div-add">
            <svg class="bi bi-plus-circle-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M16 8A8 8 0 110 8a8 8 0 0116 0zM8.5 4a.5.5 0 00-1 0v3.5H4a.5.5 0 000 1h3.5V12a.5.5 0 001 0V8.5H12a.5.5 0 000-1H8.5V4z" clip-rule="evenodd"/>
            </svg>
               Add a line of object
        </nav>
    </a>