<div class="container">
  <h3>{{this.title}}</h3>
  <p style="font-weight: lighter;color: gray;font-size: 14px;" class="card-text">to reserve, please fill this
    informations</p>
  <form [formGroup]="addForm">
    <div class="form-row">
      <input type="hidden" formControlName="id">
      <div class="form-group col-md-6">
        <input type="text" class="form-control" formControlName="date" placeholder="yyyy-mm-dd">
      </div>
      <div class="form-group col-md-6">
        <input type="text" class="form-control" formControlName="price" placeholder="price">
      </div>
    </div>

    <div class="form-group">
      <input type="text" class="form-control" formControlName="totalStayNight" placeholder="totalStayNight">
    </div>
    <div class="input-group form-group ">
      <select formControlName="operationCategoryId" placeholder="choose Category" class="custom-select">
        <option *ngFor="let item of oppCate" value="{{item.id}}">
          {{item.name}}</option>
      </select>
    </div>
    <button (click)="add()" type="submit" class="btn btn-success btn-block">Reserve</button><br>
  </form>
</div>
