<div class="home">
  <div class="container">
    <div class="row">
      <div class="col-*-3">
        <button class="btn btn-warning"><i class="fa fa-user"></i> Patients</button>
      </div>
      <div class="col-*-3">
        <button class="btn btn-info"><i class="fa fa-heartbeat"></i> Hospitals</button>
      </div>
      <div class="col-*-3">
        <button class="btn btn-dark"><i class="fa fa-calendar"></i> Appointements</button>
      </div>
      <div class="col-*-3">
        <button class="btn btn-warning"><i class="fa fa-user"></i> Patients</button>
      </div>
      <div class="col-*-3">
        <button class="btn btn-info"><i class="fa fa-heartbeat"></i> Hospitals</button>
      </div>
      <div class="col-*-3">
        <button class="btn btn-dark"><i class="fa fa-calendar"></i> Appointements</button>
      </div>


      <div class="col-*-3">
        <button class="btn btn-warning"><i class="fa fa-user"></i> Patients</button>
      </div>
      <div class="col-*-3">
        <button class="btn btn-info"><i class="fa fa-heartbeat"></i> Hospitals</button>
      </div>
      <div class="col-*-3">
        <button class="btn btn-dark"><i class="fa fa-calendar"></i> Appointements</button>
      </div>
      <div class="col-*-3">
        <button class="btn btn-warning"><i class="fa fa-user"></i> Patients</button>
      </div>
      <div class="col-*-3">
        <button class="btn btn-info"><i class="fa fa-heartbeat"></i> Hospitals</button>
      </div>
      <div class="col-*-3">
        <button class="btn btn-dark"><i class="fa fa-calendar"></i> Appointements</button>
      </div>
    </div>
  </div>
</div>