<mat-form-field class="example-full-width" style="float: right;">
  <input (keyup)="applyFilter($event.target.value)" matInput placeholder="Filter">
</mat-form-field>

<div style="float: left;">
<app-menu 
[IsRowSelected]="IsRowSelected" 
[addAction]="add" 
[editAction]="edit" 
[deleteAction]="delete" 
[IsMultple]="IsMultple"
[isNew]="isNew" 
></app-menu>
</div>
  <table mat-table [dataSource]="(dataSource)"  matSort  class="mat-elevation-z8">
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null; onrowselect()" [checked]="selection.hasValue() && isAllSelected()"
          [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()"    >
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null; onrowselect()"
          [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)" (click)="onrowselect()" >
        </mat-checkbox>
      </td>
    </ng-container>
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef  mat-sort-header> name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="value">
      <th mat-header-cell *matHeaderCellDef  mat-sort-header> value </th>
      <td mat-cell *matCellDef="let element"> {{element.value}} </td>
    </ng-container>
  
   
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;let i = index" (click)="selection.toggle(row);"(click)="onrowselect()"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
