<div class="body">
  <h2>Manage Invoices</h2>
  <button class="btn btn-primary"><i class="fa fa-plus"></i> add facture</button>
  <hr>
  <ng-container>
    <div class="btn-toolbar">
      <button type="button" class="btn active  btn-sm">All</button>
      <button type="button" class="btn  btn-sm">Draft</button>
      <button type="button" class="btn  btn-sm">Scheduled</button>
      <button type="button" class="btn  btn-sm">Unpaid</button>
      <button type="button" class="btn  btn-sm">Paid</button>
    </div>
  </ng-container>
  <ng-container>
    <mat-form-field class="mat">
      <mat-label class="labe">Search</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Name">
    </mat-form-field>
  </ng-container>
  <div class="mat-elevation-z8" #content id="content">
    <div class="alert bge" role="alert"><br><br>
      <button (click)="Download()" type="button" class="btn btn-link"><i class="fa fa-download"></i> Download</button>
    </div>
    <table mat-table [dataSource]="this.dataSource">
      <!-- Position Column -->
      <ng-container matColumnDef="code">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.code}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef> date </th>
        <td mat-cell *matCellDef="let element"> {{element.date}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="totalAmont">
        <th mat-header-cell *matHeaderCellDef> totalAmont </th>
        <td mat-cell *matCellDef="let element"> {{element.totalAmont}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="symbol">
        <th mat-header-cell *matHeaderCellDef> Symbol </th>
        <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
      </ng-container>
      <!-- Symbol Column -->
      <ng-container matColumnDef="expedition">
        <th mat-header-cell *matHeaderCellDef> expedition </th>
        <td mat-cell *matCellDef="let element"> {{element.expedition}} </td>
      </ng-container>
      <!-- Symbol Column -->
      <ng-container matColumnDef="livraison">
        <th mat-header-cell *matHeaderCellDef> livraison </th>
        <td mat-cell *matCellDef="let element"> {{element.livraison}} </td>
      </ng-container>
      <!-- Symbol Column -->
      <ng-container matColumnDef="remise">
        <th mat-header-cell *matHeaderCellDef> remise </th>
        <td mat-cell *matCellDef="let element"> {{element.remise}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr (click)="logdata(row)" mat-row *matRowDef="let row; columns: displayedColumnsData;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>

</div>
